<form action="{{ path('task_update', { 'id': id }) }}" method="post" {{ form_enctype(form) }} id="task_new" class="ajax-form">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Edit task</h3>
    </div>
    <div class="modal-body">
        {{ form_widget(form) }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn" data-dismiss="modal" id="close">Close</a>
    </div>
</form>