@CHARSET "UTF-8";

body {
    min-width: 900px;
}

#alert-messages {
    position: fixed;
    right: 15px;
    top: 50px;
    width: 400px;
    z-index: 9999;
}
#loading {
    width: 180px;
    height: 40px;
    margin: 0 auto;
    background: url("/bundles/smtask/images/loading.gif") 50% 50% no-repeat;
    display: none;
}
.pagination {
    float: left;
    margin: 0;
}